@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&family=Oswald:wght@300;400;500;700&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.025rem;
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
}


.mt-0rem {
    margin-top: 0;
}

.mr-0rem {
    margin-right: 0;
}

.mb-0rem {
    margin-bottom: 0;
}

.ml-0rem {
    margin-left: 0;
}

.mt-1rem {
    margin-top: 1rem;
}

.mr-1rem {
    margin-right: 1rem;
}

.mb-1rem {
    margin-bottom: 1rem;
}

.ml-1rem {
    margin-left: 1rem;
}

.mt-2rem {
    margin-top: 2rem;
}

.mr-2rem {
    margin-right: 2rem;
}

.mb-2rem {
    margin-bottom: 2rem;
}

.ml-2rem {
    margin-left: 2rem;
}

.mt-3rem {
    margin-top: 3rem;
}

.mr-3rem {
    margin-right: 3rem;
}

.mb-3rem {
    margin-bottom: 3rem;
}

.ml-3rem {
    margin-left: 3rem;
}

.opacity-40 {
    opacity: .4;
}

.fw-normal {
    font-weight: normal;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}