div.vue-flow__node {
    border-width: 10px;
    font-size: 1.5rem;
    width: 210px;
}

div.vue-flow__node.status-DONE {
    background: #A8DCD1 !important;
    border-color: #000000;
}

div.vue-flow__node.status-WARNING {
    background: #FFD700 !important;
}

div.vue-flow__node.status-PROBLEM {
    background: #e7573b !important;
    color: #ffffff;
}

div.vue-flow__node:nth-of-type(5){
    width: 400px
}
div.vue-flow__node:nth-of-type(20){
    width: 500px
}
div.vue-flow__node:nth-of-type(37){
    width: 400px
}
div.vue-flow__node:nth-of-type(29){
    width: 450px
}
div.vue-flow__node:nth-of-type(12){
    width: 300px
}
div.vue-flow__node:nth-of-type(21){
    width: 460px
}
div.vue-flow__node:nth-of-type(34){
    width: 400px
}
div.vue-flow__node:nth-of-type(26){
    width: 400px
}
div.vue-flow__node:nth-of-type(7){
    width: 500px
}
div.vue-flow__node:nth-of-type(9){
    width: 400px
}
div.vue-flow__node:nth-of-type(13){
    width: 500px
}
div.vue-flow__node:nth-of-type(18){
    width: 500px
}
div.vue-flow__node:nth-of-type(19){
    width: 500px
}
div.vue-flow__node:nth-of-type(28){
    width: 250px
}


div.vue-flow__node[data-id="28"] {
    cursor: e-resize;
}

.vue-flow__edge-path {
    stroke-width: 10 !important;
}