table {
    width: 100%;
    border: 3px solid #efefef;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #efefef;
}

table tr th {
    padding: 1rem;
    text-align: left;
}

table tr td {
    padding: 1rem;
}

table tr td.status {
    text-align: center;
}

table tr td.status.done {
    background: #A8DCD1;
}

table tr td.status.problem {
    background: #e7573b;
    color: #ffffff;
}

table tr td.status.warning {
    background: #FFD700;
}

table tr:hover {
    cursor: pointer;
}
